html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Pictures/blk_wht_camo.jpg");
    background-size: 1600px 825px;
    background-repeat: no-repeat;
}
body{
    display: inline;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gold;
    min-height: 600px;
}

h1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding-left: 100px;
}

.artcl{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 5px;
}

#team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    margin: 0px 10px 5px 5px;
    background-color: white;
    border-radius: 5px
}

.members{
    display: block;
    margin: 5px 5px 10px 5px;
    border-style: solid;
    border-color: silver;
    border-radius: 5px;
    border-width: 2px;
    width: 75%;
}

.members > h3,
.members > p{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px
}

#main{
    display: block;
    justify-content: center;
    margin: 0px 5px 5px 5px;
    width: 70%;
    border-radius: 5px;
    background-color: white;
}

#main > h2{
  margin: 20px 70px;
}

#main > p{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 5px 100px;
  padding: 4px 0px;
  font-size: 16px;
  word-break: break-all;
}

footer{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    min-height: 50px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}